@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 2.3em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #454de2d0);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #45badaaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: oblique;
}

.contenido-body {
  display: flex;
  width: 100vw;
  background: #000000;
  height: 70vh;
  flex-direction: column;
  color: #CBB26A;
  
}

.footers {
  position: absolute;
  max-width: 100%;
  min-height: 100px;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  position: relative;
  width: 100vw;
  height: 30vh;
  background-color: #cbb26a;
}

.icono-social,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.itemIconoSocial,
.itemMenu {
  list-style: none;
}

.linkIconosocial {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.linkIconosocial:hover {
  transform: translateY(-10px);
}

.linkmenu {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

/*ESTILO PARA EL BUSCARDOR*/

.estiloBuscador {
  background-color: #e5d9b6;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.estiloBuscador input[type="text"] {
  padding: 5px;
  margin-right: 2px;
  border-radius: 5px;
  background-color: #fff;
  border-style: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;

  
}

.claseformBuscador {
  background-color:#e5d9b6;
  width: 100%;
  height: 90px;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}


#combo-box-demo{
  background-color: #fff;
  width: 6em;
  height: 1em;
  border-style: none;
  
}


