:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #e5d9b6;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  font-size: 1.5em;
  line-height: 1.1;
  font-family: "Kaushan Script", cursive;
}

/*BOTTON header*/

.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: rgb(128, 127, 125);
  --btn-bg-2: rgb(3, 3, 0);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 2em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 130px;
  min-height: 44px;
  font-size: var(--size, 0.8rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 300;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(242, 246, 248, 0.5), 0px 5px 5px -1px rgba(209, 209, 107, 0.25), inset 4px 4px 8px rgba(206, 182, 45, 0.5), inset -4px -4px 8px rgba(19, 19, 18, 0.35);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-within,:active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}

@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;

  }
  a:hover {
    color: #333;
    
  }
  button {
    background-color: #f9f9f9;
  }
}

/* header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: #CBB26A;
  z-index: 1;
  position: fixed;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 20px;
 
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  
}

.header-right button {
  margin-left: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
} */

.logotipo {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  margin-top: 80px;
  margin-left: 40px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
}
.logotipo:hover{
  filter: drop-shadow(0 0 3em #e5d9b6)
}

@media screen and (max-width:426px) {

  

  .logotipo {
    width: 70px;
    height: 70px;
    margin-left: 0px;
    
  }

  .logo {
    height: 1.2em;
  }
  
  .logoPrincipal img {
    height: 5em;
    margin-left: 5px;
    margin-top: 4em;
  }

  header a h2 {
    font-size: 80%;
  }

  .btn-donate{
    min-width: 60px;
    min-height: 10px;
    font-size: 0.3em;
    margin-top: 2em;
  }

  .contenedorBtn {
    margin-right: 0.2em;
    flex-direction: column;
  }

  .estiloBuscador {
    height: 180px;
  }

  .claseformBuscador {
    flex-wrap: nowrap;
    flex-direction: column;
    height: 180px;
    padding: 2px;
  }
  
}

@media screen and (max-width:768px) and (min-width: 426px) {
  .logoPrincipal img {
    height: 8em;
    margin-left: 5px;
    margin-top: 4em;
  }

  header a h2 {
    font-size: 100%;
  }

}
.registro {
  background-color: #535bf2;
  width: 100%;
display: flex;

align-items: center;
align-self: center;
align-content: center;
text-align: center;
flex-direction: column;

 
}

.bienvenida{
  justify-self: center;
  align-self: center;
}
.formulario{
  justify-self: center;
  align-self: center;
}




